doctype html
html
    head
    body
        div
            h1 Logowanie
            p Zaloguj się przez Google
            p Login
            input
            p Hasło
            input.haslo
            br
            a(href='/auth/google') Zaloguj 